<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="G:/workspace4.4/log"/>

    <appender name="consoleinfo" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5p] [%d{HH:mm:ss}] %c - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="spring" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/spring.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%-5p %d{HH:mm:ss}] %c - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="sql" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/sql.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%-5p %d{HH:mm:ss}] %c - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="infoLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%t] %-5p %c{36} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleinfo" />
        <appender-ref ref="error" />
        <appender-ref ref="infoLogAppender" />
    </root>

    <logger name="druid.sql.Statement" level="INFO" additivity="false">
        <appender-ref ref="consoleinfo" />
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="consoleinfo" />
    </logger>
</configuration>
